body{
    background-image: url("http://odesza.com/wp-content/uploads/2015/04/2880-1800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    font-family: 'Poiret One', cursive;
}

.caphill{
    background-image: url("http://static.seattletimes.com/wp-content/uploads/2016/07/157043_sna_capitolhill_62-1020x680.jpg");
}

.container{
    width: 400px;
    text-align: center;
}
.container2{
    text-align: center;
}

h1{
    font-size: 60px;
}

a{
    text-decoration: none;
    color: white;
}

.tit_Link:hover{
    color: rgb(260, 100, 75);
}

.index_Link:hover{
    color: rgb(219, 10, 91);
}

ul{
    list-style-type: none;
    padding: 0;
}